:root {
  --fontFamilyHeading: "Roboto", sans-serif;
  --fontFamilyRegular: "Noto Sans KR", "Roboto", sans-serif;
  --fontFamilyEmoji: "Roboto", sans-serif;
  /* mobile typography */

  /* body to header ratio: 1.3 */
  --fontSizeHeaderMobile: 21px;
  --fontSizeSubheaderMobile: 18px;
  --fontSizeBodyTextMobile: 16px;

  /* body to header ratio: 1.432 */
  --fontSizeHeaderTablet: 26px;
  --fontSizeSubheaderTablet: 23px;
  --fontSizeBodyTextTablet: 18px;

  /* body to header ratio: 1.696 */
  --fontSizeHeaderLaptop: 34px;
  --fontSizeSubheaderLaptop: 30px;
  --fontSizeBodyTextLaptop: 20px;

  /* body to header ratio: 1.96 */
  --fontSizeHeaderMonitor: 41px;
  --fontSizeSubheaderMonitor: 36px;
  --fontSizeBodyTextMonitor: 21px;

  /* Colors */
  --colorBlue: #5680E9;
  --colorTeal: #84CEEB;
  --colorAqua: #5AB9EA;
  --colorGray: #C1C8E4;
  --colorPurple: #8860D0;
  --colorCharcoal: #28231D;
  --colorWhite: #F1F1F1;

}
* {
  user-select:none;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  display: flex;
  flex-direction: column;
}
body {
  background: var(--colorPurple);
  min-width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.5em;
}
h1 {
  font-family: var(--fontFamilyHeading);
  color: var(--colorBlue);
}
label {
  font-size: var(--fontSizeSubheaderMobile);
}
button {
  padding: 15px 32px;
  font-size: 16px;
  align-self: center;
  font-family: var(--fontFamilyEmoji);
  color: black;
  width: 100%;
  border-radius: 5px;
  background: var(--colorGray);
}
button:hover {
  filter: brightness(110%);
}
textarea {
  font-family: var(--fontFamilyRegular);
  width: 100%;
  color: var(--colorBlue);
}

@media screen and (min-width: 40em) {
  h1 {
    font-size: var(--fontSizeHeaderTablet);
    color: red;
  }

}
@media screen and (min-width: 48em) {
  h1 {
    font-size: var(--fontSizeHeaderLaptop);
    color: orange;
  }

}
@media screen and (min-width: 64em) {
  h1 {
    font-size: var(--fontSizeHeaderMonitor);
    color: yellow;
  }
  body {
    align-self: center;
    background: var(--colorWhite);
  }

}
@media screen and (min-width: 80em) {
  h1 {
    font-size: var(--fontSizeHeaderMonitor);
    color: green;
  }

}
